<ion-header>
  <ion-toolbar>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="custom-table">
    <ion-row>
      <ion-col><strong>Name</strong></ion-col>
      <ion-col><strong>Price</strong></ion-col>
      <ion-col><strong>Description</strong></ion-col>
      <ion-col><strong>Actions</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items">
      <ion-col>{{ item.name }}</ion-col>
      <ion-col>{{ item.price }}</ion-col>
      <ion-col>{{ item.description }}</ion-col>
      <ion-col>
        <ion-button size="small" (click)="editItem(item)">Edit</ion-button>
        <ion-button size="small" color="danger" (click)="deleteItem(item.id)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isEditModalOpen" (ionModalDidDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit Item</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="selectedItem.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Price</ion-label>
          <ion-input [(ngModel)]="selectedItem.price" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea [(ngModel)]="selectedItem.description"></ion-textarea>
        </ion-item>
        <ion-button expand="full" (click)="updateItem()">Update Item</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
