<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="store" href="/tabs/store">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-item" href="/tabs/add-item">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Add Item</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auth" href="/tabs/auth">
      <ion-icon name="square"></ion-icon>
      <ion-label>Auth</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
